.heading {
    margin-bottom: 1rem;
}

.heading > span {
    color: rgb(54, 120, 182);
}

.imageWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    width: 100%;
}

.image {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 35px;
}

.image > img {
    height: 100%;
    width: 100%;
    box-shadow: 10px 10px 5px gray;
}

/*bigger tablet*/
@media screen and (max-width: 950px) {
    .imageWrapper {
        gap: 20px;
    }
}

/*smaller tablet*/
@media screen and (max-width: 600px) {
    .imageWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .image {
        width: 70%;
    }
}

/*mobile*/
@media screen and (max-width: 500px) {
    .image {
        width: 80%
    }
}

/*smaller mobile*/
@media screen and (max-width: 350px) {
    .image {
        width: 90%
    }
}